.week1-card{
    background: #FCD77F;
    min-height: 300px;
    padding: 10px;
}
.week2-card{
    background:#9B5D73;
    min-height: 300px;
    padding: 10px;
}
.week3-card{
    background: #FF8243;
    min-height: 300px;
    padding: 10px;
}