.projects{

}
.project-card{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    position: relative;
    color: #fff;
    margin-bottom: 20px;
    z-index: 10;
    min-height: 100px;
}
.project-card h5{
    width: fit-content;
}

.card1 {
     background: linear-gradient(315deg,#FF8E6E, #f5af9b );
}

.card2{
    background: linear-gradient(315deg, #86c1f1, #00a1e4);
}

.card3{
     background: linear-gradient(315deg,#2EB872, #75ffba );
}
.card4{
    background: linear-gradient(315deg,#F6A2D4, #ffcceb );
}
.card5{
     background: linear-gradient(315deg,#2C2E3E, #494c60 );
}
.card6{
     background: linear-gradient(315deg,#898121, #aba245 );
}
.project-card:hover::before{
    filter: blur(10px);
    transform: skewY(0);
}
